<div class="app-container">
  <mat-toolbar color="primary" *ngIf="isAuthenticated">
    <mat-toolbar-row>
      <span>Student Portal</span>
      <span class="spacer"></span>
      <span *ngIf="currentUser">{{currentUser.nombreCompleto}}</span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        
        <a mat-list-item routerLink="/estudiantes" *ngIf="currentUser?.rol === 'Admin'">
          <mat-icon>people</mat-icon>
          <span>Estudiantes</span>
        </a>
        
        <a mat-list-item routerLink="/materias">
          <mat-icon>book</mat-icon>
          <span>Materias</span>
        </a>
        
        <a mat-list-item routerLink="/inscripciones/materias" *ngIf="currentUser?.rol === 'Estudiante'">
          <mat-icon>add_circle</mat-icon>
          <span>Inscribir Materias</span>
        </a>
        
        <a mat-list-item routerLink="/inscripciones/clases" *ngIf="currentUser?.rol === 'Estudiante'">
          <mat-icon>class</mat-icon>
          <span>Mis Clases</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="login-content" *ngIf="!isAuthenticated">
    <router-outlet></router-outlet>
  </div>
</div>